Source: libtemplate
Section: libs
Priority: optional
Maintainer: Sean McEligot <seanm@despammed.com>
Standards-Version: 0.4.2

Package: libtemplate
Architecture: any
Depends: ${shlibs:Depends}
Description: Template Engine
 A Template library and standalone engine
