List:
${variables:}
1. ${variables.type} ${variables.name}; // define ${variables.name}
${:variables}
LIST_END
${variables:}2. ${variables.type} ${variables.name}; // define ${variables.name}${:variables}
LIST2_END
1234replace01Numbers
1234replaceAll
